@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

span {
    color: #2a59d8;
}

header {
    margin-top: 30px;
}

header {
    margin-top: 30px;
}

/* navbar */
.navbar-nav a {
    font-size: 18px;
}
.navbar-nav a:hover {
    color: #04245d;
}

.btn .btn-primary {
    background-color: #04245d;
    border: none;
    padding: 8px 18px;
}

.btn .btn-primary:hover {
    background-color: #2c4167;
    border: none;
}
/* end navbar */

/* Main */
#main-content {
    height: 100vh;
    margin-top: 130px;
}

.title-main h1 {
    font-weight: 700;
    color: #04245d;
    margin-bottom: 30px;
}

.title-main p {
    color: #383b41;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.title-main .btn {
    background-color: #04245d;
    border: none;
    padding: 8px 18px;
}

.title-main .btn:hover {
    background-color: #2c4167;
    border: none;
}
.btn-content .btn {
    background-color: #04245d;
    border: none;
    padding: 8px 18px;
    width: 190px;
    margin: 50px 470px;
}

/* endmain */

/* product */
#products {
    height: 100vh;
}
.title-product h1 {
    text-align: center;
    font-weight: 700;
    color: #04245d;
}

.title-product p {
    color: #383b41;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    width: 600px;
    margin: auto;
    font-size: 18px;
}

.card-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.card-content {
    border: 1px solid #04245d;
    width: 300px;
    height: auto;
    padding: 30px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content .btn {
    background-color: #04245d;
    border: none;
    padding: 8px 18px;
}

.card-content .btn a {
    text-decoration: none;
    color: white;
}

.card-content h4 {
    margin-top: 18px;
    font-weight: 600;
    color: #04245d;
    text-align: center;
}

.card-content p {
    text-align: center;
}

.star-products {
    margin-bottom: 8px;
    color: yellow;
}
.btn-product {
    background-color: #ffffff;
    width: 200px;
    height: 40px;
}

/* end Product */

/* best product*/
#best-product {
    margin-top: 120px;
    height: 100vh;
}

.title-best-product h1 {
    margin-top: 18px;
    color: #04245d;
    text-align: center;
    font-weight: 700;
    color: #04245d;
}

.title-best-product p {
    color: #383b41;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    width: 600px;
    margin: auto;
    font-size: 18px;
}
/* end best product*/

/* about */
#about-me {
    margin-top: 400px;
    height: 100vh;
    background-color: #456aaa;
    padding: 60px;
}
.title-about-me {
    margin-top: 80px;
}

.title-about-me h1 {
    margin-top: 18px;
    color: white;
    font-weight: 700;
}

.title-about-me p {
    color: #ced8ea;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    font-size: 18px;
}

.title-about-me .btn {
    background-color: #04245d;
    border: none;
    width: 130px;
    padding: 10px;
}

.title-about-me .btn:hover {
    background-color: #2c4167;
    border: none;
}
/* about me */

/* footer */
footer {
    height: 200px;
}

#footer {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #04245d;
}

.product-bawana h5 {
    font-weight: 700;
    margin-bottom: 18px;
}
.product-bawana a {
    text-decoration: none;
    color: #04245d;
}
/* end footer */

/* Detail Product HTML */
.btn-detail .btn {
    background-color: #04245d;
}

.btn-detail .btn:hover {
    background-color: #fcfcfc;
}

.detail-product {
    display: flex;
    height: 100vh;
    margin-top: 60px;
    align-items: center;
}

.title-detail-p {
    display: flex;
    margin-right: 8px;
}

.title-detail-p i {
    color: yellow;
}

.detail-title-product h3 {
    font-weight: 700;
}

.harga-product h5 {
    font-weight: 700;
}
/* End Detail Product HTML */

/* HTML Login */

#login-bg {
    background-image: url(/img/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 30px;
}

.card {
    width: 400px;
    padding: 30px;
    margin: 120px auto;
}

.card h3 {
    color: #04245d;
    text-align: center;
    font-weight: 700;
    color: #04245d;
}

.card .btn {
    border: 1px solid #04245d;
    color: #04245d;
}
.card .btn:hover {
    background-color: #04245d;
    border: 1px solid #04245d;
}
/* End HTML Login */
